*~
*.pdf
*.ps
*.dvi
*.aux
*.ilg
*.ind
*.idx
*.toc
*.log
*.out
*.mpx
mpxerr.tex
*.tar
*.gz
DATE.tex
REVISION.tex
clqr-types-and-classes.1
clqr-types-and-classes.2
clqr-types-and-classes.3
clqr-types-and-classes.4
clqr-types-and-classes.5
*.flag
color-current.tex
paper-current.tex
release-date.txt
release-revision.txt
latest-changes.html
*.jpg
gh-pages